* {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;
	list-style-type: none;
}

/*@font-face {
	font-family: 'montserrat Nova';
	src: url('montserratNova_Thin.otf');
	src: url('montserratNova_Light.otf');
	//src: url('montserratNova_Regular.otf');
	//src: url('montserrat-Nova-Regular.otf');
}*/

//variables

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

$grey: #576671;
$light_g: #87949e;
$mint: #17daa3;
$dark-g: #f9f9fa;
$gray: #ced3d7;
$hover_mint: #0ecf98;

html {
	scroll-behavior: smooth;
	letter-spacing: 0.025em;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	width: 70px;
	height: 70px;
	background-color: $mint;
	color: white;
	cursor: pointer;
	font-size: 40px;
}

header {
	background-image: url(img/photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	height: 100vh;
	
	i {
		font-size: 50px;
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-50%);
		color: white;
	}
	
	button {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%);
	}
	
	a {
		color: white;
		display: inline-block;
	}
	
	a::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: $mint;
		transition: width .3s;
	}
	
	a:hover::after {
		width: 100%;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 50px 200px;
	
	.logo__link::after {
		display: none;
	}
}

ul {
	display: flex;
}

li {
	padding: 0 25px;
	text-transform: uppercase;
	font-family: $raleway;
	font-size: 14px;
	font-weight: bold;
}

#header__slider {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	
	h1 {
		font-family: $raleway;
		font-weight: lighter;
		font-size: 60px;
		
		span {
			font-weight: bold;
		}
	}
	
	p {
		font-family: $montserrat;
		font-weight: 300;
		font-size: 24px;
		color: white;
	}
}

#about-us {
	padding: 100px;
	text-align: center;
	
	&__icons {
		display: grid;
		grid-template-columns: auto auto auto auto;
		
		h3 {
			font-family: $raleway;
			font-size: 30px;
			font-weight: 400;
		}
	}
}

.about-us__icon {
	h3 {
		padding: 80px 0 40px 0;
	}
	
	p {
		line-height: 30px;
	}
}

h2 {
	font-family: $raleway;
	font-size: 60px;
	font-weight: 200;
	color: $grey;
}

p {
	font-family: $montserrat;
	color: $light_g;
	font-size: 18px;
	padding: 0 0 100px 0;
}

.underline {
	height: 1px;
	width: 30px;
	background-color: $mint;
	margin: 40px auto;
}

.button--color {
	background-color: $mint;
	border-radius: 30px;
	padding: 15px 50px;
	color: white;
	font-family: $raleway;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s;
}

.button--color:hover {
	background-color: $hover_mint;
}

.button--border {
	border: 2px solid white;
	border-radius: 30px;
	background-color: transparent;
	font-family: $raleway;
	font-weight: bold;
	font-size: 14px;
	color: white;
	cursor: pointer;
	padding: 15px 50px;
	transition: 0.5s;
}

.button--border:hover {
	background-color: white;
	color: #0B1D1E;
}

#frame1 {
	padding: 150px 250px;
	background-color: $dark-g;
	display: grid;
	grid-template-areas: "photo info";		
}

#frame2 {
	padding: 150px 250px;
	background-color: white;
	display: grid;
	grid-template-areas: "info photo";
	
	.frame__info {
		text-align: right;
	}
}

.frame__photo {
	grid-area: photo;
	
	img {
		width: 40vw;
	}
}

.frame__info {
	grid-area: info;
	
	h2 {
		padding-bottom: 70px;
	}
	
	p {
		line-height: 36px;
	}
}

#opinions {
	background-image: url(img/photo2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 150px 0;
	color: white;
	
	h3 {
		font-family: $raleway;
		font-size: 30px;
		font-weight: 300;
		padding: 30px 0;
		
		span {
			color: $mint;
			font-size: 30px;
		}
	}
	
	span {
		font-family: $raleway;
		font-size: 18px;
		font-weight: 300;
	}
}

#services {
	text-align: center;
	background-color: $dark-g;
	padding: 100px 250px;
	
	&__sections {
		display: grid;
		grid-template-columns: 50% 50%;
	}
}

.services__section {
	text-align: left;
	display: grid;
	grid-template-areas: "ico title"
						"ico describe";

	img {
		grid-area: ico;
		padding-right: 50px;
	}

	h2 {
		grid-area: title;
		padding-bottom: 40px;
	}

	p {
		grid-area: describe;
		line-height: 48px;
	}
}

#team {
	text-align: center;
	padding: 100px 0 0 0;
}

#tiles {
	display: grid;
	grid-template-columns: repeat(5, auto);
	overflow: hidden;
}

.tiles__element {
	background-color: $dark-g;
	width: 20vw;
	height: 20vw;
}

.tiles__element:nth-child(even) {
	background-color: #e4e4e4;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: $mint;
	opacity: 0;
	transition: opacity 1s;	
	display: grid;
		
	&__text {
		color: white;
		font-size: 36px;
		margin: auto 0;
		font-family: $raleway;
		font-weight: 200;
	}
}

.overlay:hover {
	opacity: 1;
}

#pricing {
	text-align: center;
	background-color: $dark-g;
	padding: 100px 250px;
}

#pricing__container {
	display: grid;
	grid-template-columns: repeat(4, auto);
}

.price {
	text-align: left;
	background-color: white;
	margin: 0 15px;
	padding: 50px 40px;
	
	h4 {
		font-family: $raleway;
		font-weight: 100;
		color: $mint;
		font-size: 60px;
	}
	
	&__license {
		color: $gray;
		padding: 15px 0 60px 0;
	}
	
	&__description {
		padding: 60px 0;
		border-width: 1px 0 0 0;
		border-style: solid;
		border-color: #eeeff1;
		line-height: 48px;
	}
	
	&__purchase {
		background-color: $mint;
		padding: 20px 35px;
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: bold;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		margin: 0 -40px -50px -40px;
		transition: 0.3s;
		letter-spacing: 0.2em;
		
		img {
			max-height: 18px;
			max-width: 19px;
			margin: auto 0;
		}
		
		p {
			padding: 0;
			color: white;
		}
	}
	
	&__purchase:hover {
		background-color: $hover_mint;
	}
}

#map {
	display: grid;
	grid-template-columns: auto auto;
	padding: 100px 0 100px 250px;
	grid-gap: 50px;
	justify-content: center;
	
	p {
		padding: 70px 0;
		line-height: 36px;
	}
}

.map__section {
	display: grid;
	align-content: center;
}

#contact {
	text-align: center;
	background-image: url(img/photo3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 250px;
	
	h2 {
		color: white;
	}
	
	input, textarea {
		padding: 20px;
		margin: 15px 0;
		width: 30vw;
		font-family: $raleway;
		font-size: 15px;
	}
	
	.form__button {
		background-color: $mint;
		border-radius: 30px;
		padding: 15px 50px;
		color: white;
		font-family: $raleway;
		font-weight: bold;
		font-size: 14px;
		cursor: pointer;
		width: 10vw;
		
		&:hover {
			background-color: $hover_mint;
		}
	}
	
}

footer {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 100px 250px;
	color: $light-g;
	text-transform: uppercase;
	font-family: $raleway;
	
	.name--color {
		color: $mint;
	}
	
	a {
		color: $light-g;
		display: inline-block;
	}
	
	a::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: $mint;
		transition: width .3s;
	}
	
	a:hover::after {
		width: 100%;
	}
}

