* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0.025em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 70px;
  height: 70px;
  background-color: #17daa3;
  color: white;
  cursor: pointer;
  font-size: 40px;
  transition: 0.3s;
}

#myBtn:hover {
  background-color: #0ecf98;
}

header {
  background-image: url(img/photo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  height: 100vh;
}
header .icon__down {
  font-size: 50px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  color: white;
}
header button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
}
header a {
  color: white;
  display: inline-block;
}
header a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #17daa3;
  transition: width 0.3s;
}
header a:hover::after {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav .logo__link::after {
  display: none;
}
nav .logo__link {
  display: grid;
  align-content: center;
}
nav #icon__nav {
  color: white;
  font-size: 50px;
  display: none;
}

#newMenu {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 30px;
  height: 100vh;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 5;
  align-content: center;
}
#newMenu a {
  color: white;
  display: inline-block;
  font-size: 6vw;
}
#newMenu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #17daa3;
  transition: width 0.3s;
}
#newMenu a:hover::after {
  width: 100%;
}

.menu {
  display: flex;
}

li {
  padding: 0 25px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#header__text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
#header__text h1 {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 60px;
}
#header__text h1 span {
  font-weight: bold;
}
#header__text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
}

#about-us {
  padding: 100px;
  text-align: center;
}
#about-us__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#about-us__icons h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.about-us__icon {
  padding: 0 30px;
}
.about-us__icon h3 {
  padding: 80px 0 40px 0;
}
.about-us__icon p {
  line-height: 30px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #576671;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #87949e;
  font-size: 18px;
  padding: 0 0 100px 0;
}

.underline {
  height: 1px;
  width: 30px;
  background-color: #17daa3;
  margin: 40px auto;
}

.button--color {
  background-color: #17daa3;
  border-radius: 30px;
  padding: 15px 50px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.button--color:hover {
  background-color: #0ecf98;
}

.button--border {
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 15px 50px;
  transition: 0.5s;
}

.button--border:hover {
  background-color: white;
  color: #0B1D1E;
}

#frame1 {
  padding: 150px 250px;
  background-color: #f9f9fa;
  display: grid;
  grid-template-areas: "photo info";
}

#frame2 {
  padding: 150px 250px;
  background-color: white;
  display: grid;
  grid-template-areas: "info photo";
}
#frame2 .frame__info {
  text-align: right;
}

.frame__photo {
  grid-area: photo;
}
.frame__photo img {
  width: 40vw;
}

.frame__info {
  grid-area: info;
}
.frame__info h2 {
  padding-bottom: 70px;
}
.frame__info p {
  line-height: 36px;
}

#opinions {
  background-image: url(img/photo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 150px 0;
  color: white;
}
#opinions h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding: 30px 0;
}
#opinions h3 span {
  color: #17daa3;
  font-size: 30px;
}
#opinions span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.ssslide img {
  display: inline !important;
}

#services {
  text-align: center;
  background-color: #f9f9fa;
  padding: 100px 250px;
}
#services__sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services__section {
  text-align: left;
  display: grid;
  grid-template-areas: "ico title" "ico describe";
}
.services__section img {
  grid-area: ico;
  padding-right: 50px;
}
.services__section h2 {
  grid-area: title;
  padding-bottom: 40px;
}
.services__section p {
  grid-area: describe;
  line-height: 48px;
}

#team {
  text-align: center;
  padding: 100px 0 0 0;
}
#team img {
  width: 190%;
  position: absolute;
  top: -20%;
  left: -50%;
}

#tiles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
}

.tiles__element {
  background-color: #f9f9fa;
  width: 20vw;
  height: 20vw;
  position: relative;
  overflow: hidden;
}

.tiles__element:nth-child(even) {
  background-color: #e4e4e4;
}

.tiles__element .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #FFF;
  transition: 1s;
}
.tiles__element .overlay__text {
  font-size: 36px;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.tiles__element:hover .overlay {
  opacity: 1;
  background: #17daa3;
}

#pricing {
  text-align: center;
  background-color: #f9f9fa;
  padding: 100px 250px;
}

#pricing__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.price {
  text-align: left;
  background-color: white;
  margin: 0 15px;
  padding: 50px 40px;
}
.price h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #17daa3;
  font-size: 60px;
}
.price__license {
  color: #ced3d7;
  padding: 15px 0 60px 0;
}
.price__description {
  padding: 60px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eeeff1;
  line-height: 48px;
}
.price__purchase {
  background-color: #17daa3;
  padding: 20px 35px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 -40px -50px -40px;
  transition: 0.3s;
  letter-spacing: 0.2em;
}
.price__purchase img {
  max-height: 18px;
  max-width: 19px;
  margin: auto 0;
}
.price__purchase p {
  padding: 0;
  color: white;
}
.price__purchase:hover {
  background-color: #0ecf98;
}

.price:hover {
  -webkit-box-shadow: 0px 0px 23px -7px #0ecf98;
  -moz-box-shadow: 0px 0px 23px -7px #0ecf98;
  box-shadow: 0px 0px 23px -7px #0ecf98;
}

#map {
  display: grid;
  grid-template-columns: 40% 50%;
  padding: 100px 0 100px 200px;
  grid-gap: 50px;
  justify-content: center;
}
#map p {
  padding: 70px 0;
  line-height: 36px;
}

.map__section {
  display: grid;
  align-content: center;
}
.map__section img {
  width: 100%;
}

#contact {
  text-align: center;
  background-image: url(img/photo3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 250px;
}
#contact h2 {
  color: white;
}
#contact input, #contact textarea {
  padding: 20px;
  margin: 15px 0;
  width: 30vw;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
#contact .form__button {
  background-color: #17daa3;
  border-radius: 30px;
  padding: 15px 50px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
#contact .form__button:hover {
  background-color: #0ecf98;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 100px 10%;
  color: #87949e;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
footer .name--color {
  color: #17daa3;
}
footer a {
  color: #87949e;
  display: inline-block;
}
footer a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #17daa3;
  transition: width 0.3s;
}
footer a:hover::after {
  width: 100%;
}
footer #footer__menu {
  display: grid;
  align-content: center;
  justify-content: center;
}
footer #footer__menu ul {
  display: flex;
}

@media only screen and (max-width: 450px) {
  #about-us {
    padding: 100px 5%;
  }

  .services__section h2 {
    font-size: 3em;
  }

  input, textarea {
    width: 70vw !important;
  }

  #myBtn {
    display: none !important;
  }
}
@media only screen and (max-width: 720px) {
  #about-us__icons {
    grid-template-columns: 1fr !important;
  }

  .frame__photo {
    display: none;
  }

  .services__section {
    grid-template-areas: "ico" "title" "describe";
    text-align: center;
  }
  .services__section img {
    margin: 0 auto;
    padding: 0 0 20px 0;
  }

  #pricing__container {
    grid-template-columns: 1fr !important;
  }

  .map__section img {
    display: none;
  }

  #footer__menu ul {
    display: block !important;
  }
}
@media only screen and (max-width: 900px) {
  .button--border {
    display: none;
  }

  header p {
    display: none;
  }
  header nav {
    justify-content: space-between;
    padding: 50px 10%;
  }

  #team #tiles {
    grid-template-columns: repeat(2, 1fr);
  }
  #team .tiles__element {
    width: 50vw;
    height: 50vw;
  }
  #team .overlay__text {
    font-size: 5vw;
  }

  #contact {
    padding: 100px 10%;
  }
  #contact input, #contact textarea {
    width: 50vw;
  }

  footer {
    display: block;
    text-align: center;
  }
  footer li {
    padding: 5px 10px;
  }
  footer #footer__copyright {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1260px) {
  header .menu {
    display: none;
  }
  header #icon__nav {
    display: block;
  }

  #opinions {
    display: none;
  }

  #about-us__icons {
    grid-template-columns: repeat(2, 1fr);
  }

  #frame1, #frame2 {
    grid-template-areas: "info" "photo";
  }
  #frame1 img, #frame2 img {
    width: 100%;
  }

  #services__sections {
    grid-template-columns: 1fr;
  }

  .overlay__text {
    font-size: 3vw;
  }

  #pricing {
    padding: 100px 10px !important;
  }
  #pricing__container {
    grid-template-columns: repeat(2, 1fr);
  }
  #pricing .price {
    margin: 0 10% 100px 10%;
  }

  #map {
    padding: 100px 10% !important;
    grid-template-columns: 1fr;
  }

  footer {
    padding: 100px 5%;
  }
}
@media only screen and (max-width: 1720px) {
  #frame1, #frame2 {
    padding: 150px 10%;
  }

  #services {
    padding: 100px 10%;
  }

  #pricing {
    padding: 100px 5%;
  }

  #map {
    padding: 100px 0 100px 10%;
  }
}

/*# sourceMappingURL=style.css.map */
